.App {
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #172238;
  padding: 20px;
  color: white;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,td,input {
  width: 25%;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  padding: 8px;
}

tr:hover {
  background-color: #d4d4d4;
}

input:hover {
  background-color: #474747;
  color: #ffffff;  
  outline: none;
}